#about {
    font-size: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 250 px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 2%;
    margin: 8px;
    width: 600px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightslategray;
    margin: 20px;
}

#welcome { 
    color: lightslategray;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
}

#body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    width: 900px;
    font-size: 26px;
    align-content: center;
    border: 1px solid whitesmoke;
    background-color: lavender;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 1px 1px 6px lightslategray;
} 

#footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 30px;
 
} 

#contact-form {
    color: lightslategray;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 30px;
    width: 700px;
    align-content: center;
    border: 2px solid lightslategray;
}


.input {
    text-align: center;
    border: 2px solid lightslategray;
    width: 300px;
    color: rgb(132, 118, 163);
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#contact {
    text-align: center;
    width: 300px;
    color: rgb(132, 118, 163);
    margin: 10px;
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#submit-button{
    height: 40px;
    width: 120px;
    background-color: lavender; 
    border: 2px solid lightslategray;
    color: lightslategray;
    font-size: 16px;
    margin: 30px; 
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#submit-button:hover {
    cursor: pointer;
    font-weight: 400; 
} 

