.footer-container {
  background-color: rgb(242, 242, 242);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-column {
  flex: 1;
  margin-right: 20px;
}

.footer-column:last-child {
  margin-right: 0;
}

.logo {
  width: 100px;
}

.text-placeholder {
  text-align: center;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-button {
  padding: 10px 20px;
  background-color: #889aa0;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #627074;
}

.checkout-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #666666;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkout-button:hover {
  text-decoration: underline;
}

.small-text {
  font-size: 12px;
  color: #666666;
  margin-top: 5px;
  text-align: right;
}
