/* Home */
html {
  width: 100vw;
  overflow: hidden;
  overflow-y: auto;
}

.banner-container {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    position: relative;
    height: 450px;
    overflow: hidden;

}

.home-banner {
    width: 100%;
    margin: 0;
    padding: 0;
}

.banner-butt {
    position: absolute;
    bottom: 20px; /* Adjust this value to change the distance from the bottom */
    left: 15%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #889aa0 ;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .banner-butt:hover {
   background-color: #627074;
  }

  .category-image {
    width: 100%;
    height: 200px;
    border-radius: 10%;
  }

.categories-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

.category-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5px;
}

caption {
  position: absolute;
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.logo {
  width: 100px;
  padding: 10px;
}

@media screen and (max-width: 900px)  {
  .category-image {
    height: 150px;
  }
}

@media screen and (max-width: 750px)  {
  .category-image {
    width: 100%;
    height: 125px;
  }

  .banner-container {
    height: auto;
  }

  caption {
    font-size: 20px;
  }

  .category-container {
    padding: 1px;
  }

  @media screen and (max-width: 550px)  {
    .category-image {
      width: 100%;
      height: 100px;
    }

    caption {
      font-size: 18px;
      font-weight: bold;
    }
  }
}



