/* Home */

.banner-container {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    position: relative;
}

.home-banner {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
}

.banner-butt {
    position: absolute;
    bottom: 20px; /* Adjust this value to change the distance from the bottom */
    left: 15%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #889aa0 ;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .banner-butt:hover {
   background-color: #627074;
  }

