html {
  overflow-y: auto;
}

.hero-image {
 
  background-size: cover;
  background-position: center;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0 auto;
  max-width: 800px; /* Adjust this value as desired */
}

.product {
  width: fit-content;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 15px;
  border: 1px solid #07bd56;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
}

.product-description {
  width: 45%;
  text-align: justify;
  margin-top: 10px;
  font-size: 16px;
  color: #888;
  padding: 15px;
}

.product-price {
  margin-top: auto;
  font-size: 16px;
}

.product-image {
  width: 100px;
  margin-top: 10px;
  padding: 15px;
  height: 100px;
}

.product input[type="number"] {
  margin-top: 10px;
  padding: 5px 5px;
  width: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.product button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #889aa0;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.product button:hover {
  background-color: #505a5e;
}

.product hr {
  margin-top: 10px;
  border: none;
  border-top: 1px solid #ccc;
}
